@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

        @script(path: String) = {
            <script src="@routes.Assets.at(path)" type="text/javascript"></script>
        }

        @script("javascripts/jquery.min.js")
        @script("javascripts/bootstrap.min.js")
        @script("javascripts/main.js")
    </head>
    <body>
        @github("iantabolt", "json2s")
        <div class="container">
            <!-- Begin content -->
            @content
            <!-- End content -->
        </div>
    </body>
</html>
